[General]

# Set 1 to enable plugin, 0 to disable.
# Default: 0 (disabled)
is_enabled=0

# Cryptocurrency name that can be found
# on api.coingecko.com/api/v3/coins/list.
# Examples: bitcoin, dogecoin, ethereum, etc.
# Default: bitcoin
crtyptocurrency=bitcoin

# Target currency name.
# Examples: usd, gbp, eur, pln.
# Default: usd
target_currency=usd

# Show the price change percentage in 24h with + and -.
# Default: 1 (enabled)
show_percentage=1

# Currency information position.
; One of the values: 0, 1, 2, 3
; 0 is for left-top corner
; 1 is for right-top corner
; 2 is for left-bottom corner
; 3 is for right-bottom corner
# Default: 0 (left-top corner)
position=0

# Currency information font size.
# Default: 20
font=20

# Currency information font color.
# One of the values: white, black.
; Font stroke will be always in opposite color
# Default: white
font_color=white